
.idea/
.venv/
.vscode/



**/__pycache__/
**/*.pyc
**/*.pyo


*.log


.ipynb_checkpoints/


bird_data/
bird_data_db_temp/
spider_data/
spider_data_db_temp/
datasets/


app/configs_my
app/demo_code


HallucinationKnowledgeBase/
BaselineResults/
MRSQLGenResults

Others/
app/RunBaseline/
app/RunExperiment/


.DS_Store
Thumbs.db


AttachedMaterials/
MetamorphicRuls/Example
